body{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content{
    min-height: 80%;
    margin:3% 3% 0 3%;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.text-content{
    margin: 0;
    min-width: 40%;
    max-width: 85%;
    font-size:2.5em;
    font-family: 'Muli', sans-serif;
    font-style: italic;
}

a, #image-loader{
    color: red;
    text-decoration: underline;
    text-decoration-color: aqua;
}

a:hover, #image-loader:hover{
    /*font-style: normal;*/
    text-decoration-color: hotpink;
}

a:visited{
    color: black;
    text-decoration-color: blue;
}

#image-loader:hover{
    cursor: pointer;
}

#picture{
    visibility: hidden;
    max-height: 500px; 
    max-width:  500px;
}

footer{
    margin:3% 3% 0 3%;
    text-align: center;
}

@media (max-width: 1280px) {
    body{
        min-height: auto;
    }
    .content{
        flex-direction: column;
        justify-content: end;
    }

    .image-container{
        margin-top: 10%;
    }

    .text-content{
        font-size: 1.5em;
        max-width: 100%;
    }

    #picture{
        max-height: 250px;
        max-width: 250px;
    }
}